# Looki Bot Configuration Example
DISCORD_TOKEN=MTQ4OTMxMDM0MTExNTU0Nzc4OA.Gzp08f.MMf9oz8ImtX0EpVMtlNTvTU4qMGrVkTe8VHtJI
SUPABASE_URL=your_supabase_project_url
SUPABASE_ANON_KEY=your_supabase_anon_key

# Database
DATABASE_URL="postgres://user:password@host:port/database"

# Lavalink Integration (Shoukaku)
LAVALINK_JIRAYU_URL=lavalink.jirayu.net:13592
LAVALINK_JIRAYU_PWD=youshallnotpass
LAVALINK_JIRAYU_SECURE=false

LAVALINK_SERENETIA_URL=lavalinkv4.serenetia.com:80
LAVALINK_SERENETIA_PWD=https://dsc.gg/ajidevserver
LAVALINK_SERENETIA_SECURE=false

LAVALINK_SERENETIASSL_URL=lavalinkv4.serenetia.com:443
LAVALINK_SERENETIASSL_PWD=https://dsc.gg/ajidevserver
LAVALINK_SERENETIASSL_SECURE=true

# Keep-Alive
SELF_URL=https://your-bot-url.koyeb.app
